<div>
  <div class="row">
    <div class="col-lg-12 col-md-12 text-center">
      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOver($event)" [uploader]="uploader"
        (onFileDrop)="fileDrop($event)" class="well my-drop-zone drop-box-area">
        Drag and Drop files '.xls', '.xlsx', '.csv'
        <div class="row">
          <div class="col-lg-12 col-md-12 text-center" style="margin-left: 40%;width: auto;">
            <input type="file" (change)="importFiles($event)" multiple="false" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12" style="margin-bottom: 100px;">
      <div class="mat-elevation-z8" style="width:100%;">
        <mat-table #table [dataSource]="filesListModelDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef>File Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.Name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="ReportType">
            <mat-header-cell *matHeaderCellDef>Report Type </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-form-field>
                <mat-select placeholder="Select Report Type" [(ngModel)]="element.ReportType" (change)="selectReportType($event.target.value)"
                  required>
                  <mat-option *ngFor="let reportName of reportType" [value]="reportName">{{reportName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Size">
            <mat-header-cell *matHeaderCellDef>Size</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.Size/1024/1024 | number:'.2'}} MB</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.Status}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-flat-button color="primary" [disabled]="!element.ReportType || (element.ReportType && element.ReportType.length ===0)"
                (click)="uploadfile(element)">Upload</button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
