<div>
  <div class="row">
    <div class="col-lg-12 col-md-12" style="margin-bottom: 100px;">
      <div class="mat-elevation-z8" style="width:100%;">
        <mat-table #table [dataSource]="modelFormulaTableDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="parentNodeName">
            <mat-header-cell *matHeaderCellDef>Parent Category</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.parentNodeName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="categoryName">
            <mat-header-cell *matHeaderCellDef>Current Category</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.categoryName}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="fundingModel">
            <mat-header-cell *matHeaderCellDef>Old Value</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.fundingModel}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="modelingValue">
            <mat-header-cell *matHeaderCellDef>New Value</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.modelingValue}}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <div>
      <form (ngSubmit)="onSubmitRunModel()" [formGroup]="modelDescriptionForm">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label for="note">Model Description :</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input type="text" class="form-control" id="modelDescription" formControlName="modelDescription" name="modelDescription"
              required>
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary" [disabled]="!modelDescriptionForm.valid">Run Model</button>
        </div>
      </form>
    </div>

  </div>
</div>
